<footer class="footer">
    <div class="containerxd">

      <ul class="footer-list">

        <li class="footer-item">
          <a href="#" class="footer-link">A propos du CRUC</a>
        </li>

        
        <li class="footer-item">
          <a href="#" class="footer-link">Support</a>
        </li>


      </ul>

      <p class="copyright">
        &copy; 2022 <a href="#" class="copyright-link">MFP</a>. Tous les droits sont réservés
      </p>

    </div>
  </footer>