{% extends 'base.html.twig' %}

{% block title %}CRUC – Centre de Relation des Usagers Clients{% endblock %}

{% block body %}

 <main>
    <article class="containerxd article">

      <h2 class="h2 article-title">Système de Gestion du Centre de Relation des Usagers Clients (CRUC)</h2>

      <p class="article-subtitle">Formulaire de prise de rendez-vous pour les agents d'accueil !</p>

     
      <form class="form-horizontal">
            <!-- Row -->
 <div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-headerxd">
                <h4 class="card-titlexd">Nouvelle demande de rendez-vous</h4>
            </div>
            <div class="card-body">
                <!-- <form class="form-horizontal"> -->
                    <div class=" row mb-4">
                        <label class="col-md-3 form-label">Motif de la visite :</label>
                        <div class="col-md-9">
                            <select name="motif" class="form-control form-select" data-bs-placeholder="Sélectionner un motif">
                                <option value="" selected>Sélectionner un motif</option>
                                <option value="">Motif 1</option>
                                <option value="">Motif 2</option>
                                <option value="">Motif 3</option>                                        
                            </select>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label class="col-md-3 form-label" for="example-email">Direction / Service demandé :</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="direction" value="">                                    
                        </div>
                    </div>
                    <div class=" row mb-4">
                        <label class="col-md-3 form-label">Autre motif :</label>
                        <div class="col-md-9">
                            <textarea class="form-control mb-4" placeholder="" rows="4" name="autre_motif"> </textarea>
                        </div>
                    </div>
                    <div class=" row mb-4">
                        <label class="col-md-3 form-label">Date de rendez-vous :</label>
                        <div class="col-md-9">
                            <input type="date" class="form-control" name="date_rdv">
                        </div>
                    </div>
                    <div class=" row mb-4">
                        <label class="col-md-3 form-label">Heure du rendez-vous :</label>
                        <div class="col-md-9">
                            <select name="heure_rdv" class="form-control form-select" data-bs-placeholder="Sélectionner une heure">
                                <option value="" selected>Sélectionner une heure</option>
                                <option value="">8H</option>
                                <option value="">9H</option>
                                <option value="">10H</option>
                                <option value="">11H</option>
                                <option value="">12H</option>
                                <option value="">14H</option>
                                <option value="">15H</option>
                                <option value="">16H</option>                                        
                            </select>
                        </div>
                    </div>
                <!-- </form> -->
            </div>
        </div>
    </div>
</div>
<input style="margin-top: 10px;" type="button" value="Enregistrer"> 
<!-- Row -->
      </form> 
    </article>
  </main>
{% endblock %}