{% extends 'cs_base.html.twig' %}

{% block title %}CRUC – Centre de Relation Usager-Client{% endblock %}

{% block body %}


<main>
    <article class="containerxd article">

      <h2 class="h2 article-title">LOGICIEL DE GESTION DE LA RELATION USAGER-CLIENT (LOGIREC)</h2>
 
        <h3> Votre demande a été ajoutée avec succès </h3>

    </article>
</main>

{% endblock %}