{% extends 'cs_base.html.twig' %}

{% block title %}CRUC – Centre de Relation des Usagers Clients{% endblock %}

{% block body %}


<main>
    <article class="containerxd article">

      <h2 class="h2 article-title">Système de Gestion du Centre de Relation des Usagers Clients (CRUC)</h2>
 




<h3> Votre demande a été ajoutée avec succès </h3>













    </article>
</main>

{% endblock %}