{% extends "@EasyAdmin/layout.html.twig" %}

{% block content %}

<div class="jumbotron"> 
    <h1 class="display-4">Adminisration</h1>
    <p class=""lead>LOGICIEL DE GESTION DE LA RELATION USAGER-CLIENT (LOGIREC)</p>
</div>


{% endblock %}