{% extends 'superviseur_base.html.twig' %}

{% block title %}CRUC – Centre de Relation des Usagers Clients{% endblock %}

{% block body %}

 <main>
    <article class="containerxd article">
      <h2 class="h2 article-title">SYSTEME DE GESTION DU CENTRE DE RELATION DES USAGERS CLIENTS (CRUC)</h2>
      <p class="article-subtitle">ECRAN DE CONSULTATION DES DEMANDES DE RENDEZ-VOUS</p>     
        
                                      
     <!-- ROW OPEN -->
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Recherche</h3>
                                    </div>
                                    <div class="card-body">
                                        <form class="needs-validation" novalidate>
                                            <div class="form-row">
                                                <div class="col-xl-6 mb-3">
                                                    <label for="validationCustom01">CODE RENDEZ VOUS</label>
                                                    <input type="text" class="form-control" id="validationCustom01" value="">
                                                </div>
                                                <div class="col-xl-3 mb-3">
                                                    <label for="validationCustom04">DE</label>
                                                    <input type="date" class="form-control" id="validationCustom04">
                                                </div>
                                                <div class="col-xl-3 mb-3">
                                                    <label for="validationCustom05">A</label>
                                                    <input type="date" class="form-control" id="validationCustom04">
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-xl-6 mb-3">
                                                    <label for="validationCustom03">DIRECTION / SERVICE</label>
                                                    <input type="text" class="form-control" id="validationCustom03"
                                                        required>
                                                    <div class="invalid-feedback">Please provide a valid city.</div>
                                                </div>
                                                <div class="col-xl-3 mb-3">
                                                    <label for="validationCustom04">TRAITEMENT</label>
                                                    <select class="form-control select2" id=""> 
                                                        <option selected disabled value="">Sélectionner le traitement</option> 
                                                        <option>Demande</option>
                                                        <option>Réclamation</option>
                                                    </select>
                                                </div>
                                                <div class="col-xl-3 mb-3">
                                                    <label for="validationCustom05">AGENT D'ACCEUIL</label>
                                                    <select class="form-control select2" id=""> 
                                                        <option selected disabled value="">Sélectionner un agent d'acceuil</option> 
                                                        <option>Agent 1</option>
                                                        <option>Agent 2</option>
                                                    </select>
                                                </div>
                                            </div>   
                                            <div class="form-row">
                                                <div class="col-xl-6 mb-3">
                                                    <label for="validationCustom03">Matricule</label>
                                                    <input type="text" class="form-control" id="validationCustom03">
                                                </div>
                                                <div class="col-xl-6 mb-3">
                                                    <label for="validationCustom04">Nom et prénom(s)</label>
                                                    <input type="text" class="form-control" id="validationCustom03">
                                                </div>                                                
                                            </div>
                                            <div class="form-row">
                                                <div class="col-xl-6 mb-3">
                                                    <label for="validationCustom03">Date de naissance</label>
                                                    <input type="date" class="form-control" id="validationCustom03">
                                                </div>
                                                <div class="col-xl-6 mb-3">
                                                    <label for="validationCustom04">Mobile</label>
                                                    <input type="text" class="form-control" id="validationCustom03">
                                                </div>                                                
                                            </div>                                            
                                            <button class="btn btn-primary" type="submit">RECHERCHER</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Liste des demandes de rendez-vous</h3>
                                    </div>
                                    <div class="card-body">
                                        Mise à jour en cours...
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ROW CLOSED -->
    </article>

  </main>

{% endblock %}