{% extends 'superviseur_base.html.twig' %}

{% block title %}CRUC – Centre de Relation des Usagers Clients{% endblock %}

{% block body %}

 <main>
    <article class="containerxd article">
      <h2 class="h2 article-title">SYSTEME DE GESTION DU CENTRE DE RELATION DES USAGERS CLIENTS (CRUC)</h2>
      <p class="article-subtitle">ECRAN DE CONSULTATION DES STATISTIQUES DES DEMANDES DE RENDEZ-VOUS</p>
      <p class="article-subtitle">Mise à jour en cours...</p>     
      
    </article>
  </main>

{% endblock %}