{% extends 'base.html.twig' %}

{% block title %}CRUC – Centre de Relation Usager-Client{% endblock %}

{% block body %}

 <main>
    <article class="containerxd article">
      <h2 class="h2 article-title">LOGICIEL DE GESTION DE LA RELATION USAGER-CLIENT (LOGIREC)</h2>
      <p class="article-subtitle">ECRAN DE CONSULTATION DES INFORMATIONS DE LA RECEPTION</p>
      <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Informations de la réception</h3>
                                    </div>
                                    <div class="card-body">
                                            <div class="form-row">
                                                <div class="col-xl-6 mb-3">
                                                    <label>Motif de la visite :</label>
                                                    <input type="text" class="form-control" id="" value="" readonly>
                                                </div>
                                                <div class="col-xl-3 mb-3">
                                                    <label class="redcolor">Heure d'arrivée :</label>
                                                    <input type="text" class="form-control" id="" value="" readonly>
                                                </div>
                                                <div class="col-xl-3 mb-3">
                                                    <label class="redcolor">Heure de Départ :</label>
                                                    <input type="text" class="form-control" id="" value="" readonly>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-xl-6 mb-3">
                                                    <label>Observations :</label>
                                                    <textarea class="form-control mb-4" placeholder="" rows="2" name="autre_motif" readonly></textarea>
                                                </div>
                                                <div class="col-xl-3 mb-3">
                                                    <label>Heure début réception :</label>
                                                    <input type="text" class="form-control" id="" value="" readonly>
                                                </div>
                                                <div class="col-xl-3 mb-3">
                                                    <label>Heure fin de réception :</label>
                                                    <input type="text" class="form-control" id="" value="" readonly>
                                                </div>
                                            </div>   
                                            <div class="form-row">
                                                <div class="col-xl-3 mb-3">
                                                    <label class="redcolor">Traitement au poste</label>
                                                    <input type="checkbox" value=""> 
                                                </div>
                                                <div class="col-xl-3 mb-3">
                                                    <label for="">Durée de la présence au Ministère :</label>
                                                    <input type="text" class="form-control" id="" value="" readonly>
                                                </div>                                                                                               
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Enquête de satisfaction</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-row">
                                                <div class="col-xl-4 mb-3">
                                                    <label>Etes-vous satisfait du traitement de votre requête ?</label>                                                   
                                                </div>
                                                <div class="col-xl-1 mb-3">
                                                  <label class="labelclass">Oui <input type="radio" class="inputclass"></label>
                                                </div>
                                                <div class="col-xl-1 mb-3">
                                                   <label class="labelclass">Non <input type="radio" class="inputclass"></label>
                                                </div>
                                        </div>
                                        <div class="form-row">
                                                <div class="col-xl-6 mb-3">
                                                    <label>Si non, indiquez vos points d’insatisfaction :</label>  
                                                    <textarea class="form-control mb-4" readonly rows="2" name=""></textarea>                                                
                                                </div>
                                        </div>
                                        <div class="form-row">
                                                <div class="col-xl-4 mb-3">
                                                    <label for="">Etes-vous satisfait du Service / Entité ayant traité(e) votre demande / réclamation ?</label>                                                   
                                                </div>
                                                <div class="col-xl-1 mb-3">
                                                  <label class="labelclass">Oui <input type="radio" class="inputclass"></label>
                                                </div><div class="col-xl-1 mb-3">
                                                   <label class="labelclass">Non <input type="radio" class="inputclass"></label>
                                                </div>
                                        </div>
                                        <div class="form-row">
                                                <div class="col-xl-6 mb-3">
                                                    <label for="">Si non, indiquez vos points d’insatisfaction :</label>  
                                                    <textarea class="form-control mb-4" readonly rows="2" name=""></textarea>                                                
                                                </div>
                                        </div>
                                   </div>
                                   
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Statut</h3>
                                    </div>
                                    <div class="card-body">
                                            <div class="form-row">
                                                <div class="col-xl-3 mb-3">
                                                    <label>Enregistrement Demande :</label>
                                                    <input type="text" class="form-control" id="" readonly value="01/01/2022">
                                                </div>
                                                <div class="col-xl-3 mb-3">
                                                    <label>Validation Demande :</label>
                                                    <input type="text" class="form-control" id="" readonly value="02/01/2022">
                                                </div>
                                                <div class="col-xl-2 mb-3">
                                                    <label>Début Traitement:</label>
                                                    <input type="text" class="form-control" id="" readonly value="02/01/2022">
                                                </div>
                                                <div class="col-xl-2 mb-3">
                                                    <label>Fin Traitement :</label>
                                                    <input type="text" class="form-control" id="" readonly value="02/01/2022">
                                                </div>
                                                <div class="col-xl-2 mb-3">
                                                    <label class="redcolor">Evaluation :</label>
                                                    <input type="text" class="form-control" id="" readonly value="">
                                                </div>
                                            </div>
                                            
                                    </div>
                                </div>
                            </div>
                        </div>   
      
    </article>
  </main>

{% endblock %}