{% extends 'base.html.twig' %}

{% block title %}CRUC – Centre de Relation Usager-Client{% endblock %}

{% block body %}

 <main>
    <article class="containerxd article">
      <h2 class="h2 article-title">LOGICIEL DE GESTION DE LA RELATION USAGER-CLIENT (LOGIREC)</h2>
      <p class="article-subtitle">ECRAN DE CONSULTATION DES STATISTIQUES </p>     
        
                                      
     <!-- ROW OPEN -->
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Statistiques (TRAITEMENT)</h3>
                                    </div>
                                    <div class="card-body">
                                            <div class="form-row">
                                                <div class="col-xl-4 mb-3">
                                                    <label>Terminé :</label>
                                                    <input type="text" class="form-control" id="" readonly value="90">
                                                </div>
                                                <div class="col-xl-4 mb-3">
                                                    <label>Transféré :</label>
                                                    <input type="text" class="form-control" id="" readonly value="20">
                                                </div>
                                                <div class="col-xl-4 mb-3">
                                                    <label>Nouveau :</label>
                                                    <input type="text" class="form-control" id="" readonly value="75">
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-xl-4 mb-3">
                                                    <label class="redcolor">Temps moyen d'un traitement (mn) :</label>
                                                    <input type="text" class="form-control" id="" readonly value="10">
                                                </div>
                                            </div>
                                            
                                    </div>
                                </div>
                            </div>


                            
                        </div>
                        <!-- ROW CLOSED -->
                        
    </article>

  </main>

{% endblock %}